
<div class="container">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>EmailId</th>
                    <th>Hobbies</th>
                </tr>
            </thead> 
            <tbody>
                <tr *ngFor="let emp of employeeData">
                    
                    <td>{{emp.userName.firstName}} {{emp.userName.lastName}}</td>
                    <td>{{emp.gender}}</td>
                    <td>{{emp.age}}</td>
                    <td>{{emp.emailId}}</td>
                    <td>{{emp.hobbies}}</td>
                  
                 <!-- <td [routerLink]="['/updateEmployee',emp.id]"></td> -->
                 <td (click)="updateEmployee(emp.id)" type="button" ><a>Update</a></td> 
                 <td (click)="deleteEmployee(emp.id)" type="button"><a>Delete</a></td>

                </tr>
            </tbody>

        </table>

    </div>

    